@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark cupcake;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar .active {
  padding: 6px 12px;
  color: #caeb66;
  font-weight: 600;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

.active {
  color: #03373d;
  font-weight: 600;
  border: 1px solid #e5e7eb;
  background-color: rgb(190, 188, 188);
  border-radius: 8px;
}

.small-swal-popup {
  width: 250px !important;
  height: 120px !important;
  font-size: 8px !important;
  padding: 6px !important;
}

.medium-swal-popup {
  width: 250px !important;
  height: 150px !important;
  font-size: 8px !important;
  padding: 6px !important;
}

.confirmation-swal-popup {
  width: 350px !important;
  height: 300px !important;
  font-size: 14px !important;
  padding: 6px !important;
}
